@import './imports'

#timer
  font-family Impact, Charcoal, sans-serif
  background-color white
  color white
  padding 10px 20px
  text-align center
  font-weight bold
  font-size 60px

#timer2
  border-width 3px;
  border-color white
  border-style solid
  border-radius 15px
  background-color black
  font-size 60px
  text-align left
